// Variables
$base-font : 16px;
$base-font-color : #fff;
$footer-text-color : #c2c2c2;
$main-font:'Roboto Slab', serif;
$base-font-size: 16px;


// Mediq Query
$tablet-width : 600px;
$desktop-width : 1000px;

